<!DOCTYPE html>
<html lang="en">
<link href="/static/aggsite.css" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>供你所需的最新消息</title>
</head>
<body>
<div class="post_nav_block_wrapper">
                <ul class="post_nav_block">
                        <li><a href="/info" class="current_nav">Test</a></li>
                        <li><a href="/cnblog">博客园</a></li>
                </ul>
                <div class="clear"></div>
            </div>

    <table>
        {% for info in infos %}
        <tr>
            <td><a class="titlelnk" href={{info.href}} target="_blank">{{info.title}}</a></td>
        </tr>
        <tr>
            <td><a>推荐指数：{{info.recommended}}</a></td>
            <td><a>阅读指数：{{info.readed}}</a></td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>