<!DOCTYPE html>
<html lang="en">
<link href="/static/aggsite.css" rel="stylesheet" type="text/css">
<head>
    <link rel="icon" href="/static/bitbug_favicon.ico" type="image/x-ico">
    <meta charset="UTF-8">
    <title>供你所需的最新消息</title>
</head>
<body>
<div class="col-md">
    <div class="post_nav_block_wrapper">
        <ul class="post_nav_block">
            <li><a id='info' href="/info">Test</a></li>
            <li><a id='cnblog' href="/cnblog">博客园</a></li>
            <li><a id='bole' href="/bole">伯乐在线</a></li>
        </ul>
        <div class="clear"></div>
        <script type="text/javascript">
            var obj = document.getElementById('{{class_status}}')
            obj.setAttribute("class", "current_nav")
        </script>
    </div>
    {% for info in infos %}
    <div class="post_item">
        <table>
            <tr>
                <td><a id={{info.id}} class="titlelnk" href={{info.href}} target="_blank">{{info.title}}</a></td>
            </tr>
            <tr>
                <td><a class="article_view">推荐指数：{{info.recommended}}</a>
                    <a class="article_view">阅读指数：{{info.readed}}</a>
                </td>
            </tr>
            <tr class="clear"></tr>
        </table>
    </div>
    {% endfor %}
</div>
</body>
</html>